body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("imgages/blackJack_board.png");
    background-size: cover;
    font-weight: bold;
    color: white;   
    text-align: center;
 
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {

    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 4px;
    margin-top: 2px;
}

#tenDollars {
    background-color: red;
    color: black;
    border-radius: 10px;
}

#fiftyDollars {
    background-color: palevioletred;
    color: black;
    border-radius: 10px;
}

#hundredDollars {
    background-color: chocolate;
    color: black;
    border-radius: 10px;
}